/* Portfolio CSS */

h1  {
    font-family: "Helvetica", sans-serif;
    font-size: 165%;
    padding-top: 40px;
    letter-spacing: .001rem;
}

/* HEADING */

.sidenav-header {
    padding-left: 38px;
    position: fixed;
}

.sidenav-header h1 {
    letter-spacing: .015rem;
}



/* SIDEBAR TABS */

.sidenav-tabs {
    height: 100%;
    /* width: 200px; */
    position: fixed;
    /* z-index: 1; */
    /* left: 0; */
    /* overflow-x: hidden; */
    padding-left: 40px;
    padding-top: 130px;
}

.sidenav-tabs a {
    font-size: 13px;
    font-family: "HelveticaNeue-Light", sans-serif;
    display: block;
    color: black;
    text-decoration: none;
    letter-spacing: .015rem;
    margin-top: 15px; /* spacing between sidebar items/tabs */
}


/* IMAGES */

.image-container {
    /* padding-left: 300px; */
    padding-top: 60px;
    /* padding-right: 100px; */
    height: 85vh;
    position: fixed;
    left: 37%;
    right: 50%;
}


/* phone/small screen/media styling */